/* Location Page */
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
html {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
}
/* Footer content */
.mySlides::after {
  background-image: url("../img/gradient-reversed.png");
  opacity: 0.6;
  content: "";
  right: 0px;
  top: 0;
  border-radius: 8px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-size: cover;
}

.mySlides {
  position: relative;
  color: white;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  width: 100%;
  height: 480px;
}
.mySlides img {
  object-fit: cover;
}

#img-background {
  background-image: url("../img/rayyan-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
}

.mySlides-para {
  position: absolute;
  text-transform: capitalize;
  left: 50%;
  bottom: 0;
  line-height: 1.5;
  font-weight: bold;
  color: wheat;
  transform: translate(-50%, 0%);
  padding: 16px;
  z-index: 2;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-content {
  /* position: fixed; */
  border: 3px solid #f1f1f1;
  z-index: 9;
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  height: fit-content;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 80%;
  padding: 15px;
  margin: 22px 0 22px 0;
  border: none;
  background: #f1f1f1;
  margin-top: 10%;
}
.form-container input[type="password"] {
  margin-top: 5%;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
  font-family: "Cairo", sans-serif;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
}
.form-container p {
  color: red;
  font-family: "Cairo", sans-serif;
  padding-bottom: 15px;
  display: none;
}

/* Add a red background color to the cancel button */
.form-container #btn-cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
h2 {
  font-size: 50px;
  font-family: "Cairo", sans-serif;
}
/* Adming log in */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.description-container {
  margin: 60px 0;
  justify-content: space-between;
  width: 100%;
}

.desc-form {
  width: 35%;
  margin: 60px 25px;
}

.desc-para {
  width: 40%;
  text-justify: auto;
  line-height: 1.5;
  /* align-self: center; */
  margin-right: 30px;
}

.desc-para p {
  line-height: 2;
  font-size: 20px;
  margin: 0 0 15px 15px;
  font-family: "Times New Roman", Times, serif;
}

.desc-img-container {
  width: 60%;
  margin-left: 15px;
}

.desc-img-container img {
  width: 100%;
  height: 400px;
  /* padding: 15px; */
  padding-bottom: 15px;
}

.images {
  margin-bottom: 20px;
  align-items: center;
  margin: 0 15px 15px;
  width: 50%;
  height: max-content;
}

#description ol li {
  list-style-type: square;
  margin-left: 50px;
}

#description a {
  color: black;
  text-decoration: none;
}

#user-form fieldset {
  background-color: #eeeeee;
  padding: 15px;
  text-justify: auto;
  border: 1px solid black;
  margin-bottom: 20px;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  margin: 0 auto;
}
#submitBtn {
  width: 50% !important;
  display: inline-block;
  text-align: center !important;
  color: white;
  background-color: black;
  margin: 5px auto;
  font-size: 20px;
  padding: 5px 10px;
}

#user-form input {
  width: 100%;
  padding: 5px;
  margin: 10px 5px;
  text-align: left;
}

#user-form label {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
}

#chartContainer {
  width: 100%;
}
#myChart {
  margin: 0 50%;
}
/* Footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}
#gitHubLink{
  text-decoration: none;
  color: lightseagreen;
}
#gitHubLink:hover{
  color: red;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
#envlop:hover{
  color: red;
}

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #94999c;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/* ----------------------location-section------------------------------ */
.location-container-one {
  width: 100%;
  justify-content: center;
  background-color: white;
  margin: 60px auto;
  padding: 0;
}
.location-picture {
  display: inline-block;
  width: 30%;
  position: relative;
  z-index: 2;
  background-size: cover;
  margin: 18px;
}
.location-picture img {
  width: 100%;
  height: 450px;
  border-radius: 7px;
  object-fit: cover;
}

.location-info h3 {
  color: whitesmoke !important;
  font-weight: bolder;
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  display: inline-block;
  margin: 0;
  position: absolute;
  bottom: 5px;
  left: 23%;
}
.location-info {
  font-size: 100px;
  position: absolute;
  text-align: center;
  left: 40%;
  bottom: 4%;
  font-weight: bolder;
  color: whitesmoke;
  transform: translate(-50%, 0%);
  width: 100%;
  z-index: 2;
}
.location-info img {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 13%;
}

/* .location-picture::after{
  background-image: url('../img/gradient.png');
  content: '';
  right: 0px;
  top: 0;
  border-radius: 8px;;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-size: cover;
} */

.location-info button {
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(139, 136, 136);
  color: white;
  width: 85%;
  margin: 15px;
  padding: 10px 0;
  border-radius: 50px;
}

.location-info button:hover {
  background: red;
}

/* -slider-start */
.mySlides img {
  width: 100%;
  height: 480px;
}

.mySlides {
  position: relative;
  width: 100%;
  height: 480px;
}

.mySlides-para {
  font-size: 50px;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 4%;
  font-weight: bolder;
  color: whitesmoke;
  text-shadow: 2px 2px 3px black;
  transform: translate(-50%, 0%);
  padding: 16px;
}
/* -slider-end */

#nav-container {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.nav-logo img {
  width: 180px;
  display: inline-block;
  text-align: right;
}
.nav-logo {
  width: 20%;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
}
.nav-flag {
  width: 18%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.nav-flag img {
  width: 30px;
  vertical-align: text-top;
}
.nav-flag li {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  border: 2px solid whitesmoke;
  margin-right: 18%;
  padding: 2%;
  border-radius: 10px;
}
.nav-flag li:nth-of-type(2) {
  padding: 3%;
}

.nav-flag p {
  font-family: "Cairo", sans-serif;
  vertical-align: text-top;
  display: inline-block;
  font-size: 20px;
  color: whitesmoke;
}

nav a {
  display: inline-block;
  margin-right: 7%;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: "Cairo", sans-serif;
  position: relative;
  text-decoration: none;
  text-align: center;
  padding-bottom: 12px;
}

nav a::before {
  content: "";
  position: absolute;
  text-align: center;
  width: 100%;
  height: 3px;
  bottom: 0px;
  background-color: aqua;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

#nav-items {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

.static {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

#form-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.Maps{
   width: 500px;
  height: 260px; 
  /* text-align: center; */
  /* display: inline-block; */
  box-shadow: rgb(196, 193, 193) 5px 5px;
   border: solid 1px black; 

}
.desc-form column{
  /* display: inline-block; */
  float: left;
}
#footerAndForm{
  display: flex;
  flex-direction: row;
 justify-content: center;
 width: 100%;
 vertical-align: auto;
}
#Map{
  /* height: 275px; */
  width: 35%;
  margin: 73px 50px 60px 200px;
  display: flex;
  vertical-align: baseline;
  flex-direction: column;
  
}