/* ----------------------location-section------------------------------ */
.location-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    

}
.location-picture{
    display: inline-block;
    width: 30%;
    background-color: black;
}
.location-picture img{
    width:100%;
    height: 400px;
}
#second-pic{
    margin: auto 40px;
}
#fifth-pic{
    margin: auto 40px;
}
#first-row{
    margin-left: 40px;
}

#second-row{
    margin-top: 100px;
    margin-left: 40px;
}

.location-info{
    margin-top: 30px;
}

.location-info h3{
    color: red !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
   
    font-size: 25px;
} 
 .locationDate{
    color: rgb(85, 80, 80) !important;
    font-size: 25px !important;
    margin-bottom: 30px;
    opacity: 0.8;
    
} 

.location-info p{
   
    font-size: 20px;
    color: white;
    margin-left: 20px;
    letter-spacing: 3px;
    margin-bottom: 30px;
} 


.location-info button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(139, 136, 136);
    color: white;
    transition: background 2s ,border-radius 3s;
    width:160px;
    overflow:hidden;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.location-info button:hover{
   
   background: red;
   border-radius: 50px;
   width: 100%;
   
    
}